/*
 * Copyright (c) 2013 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/******************************************************************************
 * SIMPLEGAUGE class                                                          *
 *****************************************************************************/
.simple-gauge {
    -fx-skin           : "eu.hansolo.enzo.gauge.skin.SimpleGaugeSkin";
    -needle            : #5a615f;
    -value-text        : white;
    -title-text        : white;
    -section-text      : white; 
    -range-fill        : rgba(0, 0, 0, 0.25);
}


/******************************************************************************
 * SIMPLEGAUGE needle                                                         *
 *****************************************************************************/
.simple-gauge > .needle {
    -fx-fill            :-needle;
    -fx-stroke          : white;
    -fx-stroke-line-cap : round;
    -fx-stroke-line-join: bevel;
}


/******************************************************************************
 * SIMPLEGAUGE value, title, section-text                                     *
 *****************************************************************************/
.simple-gauge > .value {
    -fx-fill: -value-text;
}

.simple-gauge > .title {
    -fx-fill: -title-text;
}

.simple-gauge > .section {
    -fx-fill: -section-text;
}
